<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net4" userInstalled="true" />
  <package id="MonoGame.Framework.Content.Pipeline.Portable" version="3.2.99.1-Beta" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
  <package id="MonoGame.Framework.Portable" version="3.2.99.1-Beta" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
</packages>