<?xml version="1.0" encoding="UTF-8"?>
<?include "Config.wxi"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="B03C55FD-0785-45A7-A03C-E36B8E8B5EBD" Name="$(var.ProductFullName)" Language="1033" Version="$(var.ProductFullVersion)" Manufacturer="$(var.ProductName)" UpgradeCode="460CDCBF-BA40-4CC6-9053-29F080C025E8">
		<Package Description="$(var.ProductName) Installer" Manufacturer="$(var.ProductName)"  InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="content.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
        <Directory Id="ProductProgramMenuFolder" Name="$(var.ProductName)">
          <Component Id="ShortcutComponent" Guid="AC9ED70C-6BD9-4E06-A933-30A7E815DFE2">
            <File Id="OnlineShortcut" Name="$(var.ProductName) Online" Source="$(sys.SOURCEFILEDIR)../UI/Engine Nine Online.url" />
            <RemoveFolder Id="ProductProgramMenuFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\$(var.ProductName)\v$(var.ProductVersion)" Name="ShortCuts" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
      
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="ProductFolder" Name="$(var.ProductName)">
          <Directory Id="ProductDir" Name="v1.0">
            <Component Id="LicenseComponent" Guid="8846E0EA-2C5B-464F-8094-DFC16AEB05F1">
              <File Id="License" Name="License.txt" Source="$(sys.SOURCEFILEDIR)../../License.txt" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="LicenseComponent" />
      <ComponentRef Id="ShortcutComponent" />
      
      <ComponentGroupRef Id="DocumentationComponent"/>
      <ComponentGroupRef Id="ReferencesComponent"/>
			
			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>
    
	</Product>
</Wix>
