<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    
    <DirectoryRef Id="ProductDir">      
      <Directory Id="References" Name="References">
        
        <Directory Id="x86" Name="x86">
          <Component Id="x86Component" Guid="D8E58DED-2B98-4513-B6EF-4FBFEF2FB2B2" DiskId="1">
            <File Id="x86.Nine.dll" Name="Nine.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.dll" />
            <File Id="x86.Nine.xml" Name="Nine.xml" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.xml" />
            <File Id="x86.Nine.Content.Pipeline.dll" Name="Nine.Content.Pipeline.dll" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Content.Pipeline.dll" />
            <File Id="x86.Nine.Content.Pipeline.xml" Name="Nine.Content.Pipeline.xml" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Content.Pipeline.xml" />
          </Component>        
        </Directory>

        <Directory Id="WindowsPhone" Name="Windows Phone">
          <Component Id="WindowsPhoneComponent" Guid="A44E3B61-31E4-405E-BAB6-0D165A4B6E28" DiskId="1">
            <File Id="WindowsPhone.Nine.dll" Name="Nine.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)../../References/Windows Phone/Nine.dll" />
            <File Id="WindowsPhone.Nine.xml" Name="Nine.xml" Source="$(sys.SOURCEFILEDIR)../../References/Windows Phone/Nine.xml" />
          </Component>
        </Directory>

        <Directory Id="Xbox" Name="Xbox 360">
          <Component Id="XboxComponent" Guid="E58EB817-5C2B-415D-BB64-87470E0789E0" DiskId="1">
            <File Id="Xbox.Nine.dll" Name="Nine.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)../../References/Xbox 360/Nine.dll" />
            <File Id="Xbox.Nine.xml" Name="Nine.xml" Source="$(sys.SOURCEFILEDIR)../../References/Xbox 360/Nine.xml" />
          </Component>
        </Directory>
        
      </Directory>
    </DirectoryRef>


    <ComponentGroup Id="ReferencesComponent" >
      <ComponentRef Id="x86Component" />
      <ComponentRef Id="WindowsPhoneComponent" />
      <ComponentRef Id="XboxComponent" />
    </ComponentGroup>
    
  </Fragment>
</Wix>
