<?xml version="1.0"?>
<?include "Config.wxi"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    
    <DirectoryRef Id="ProductDir">      
      <Directory Id="References" Name="References">
        
        <Directory Id="x86" Name="x86">
          <Component Id="x86Component" Guid="D8E58DED-2B98-4513-B6EF-4FBFEF2FB2B2" DiskId="1">
            <File Id="x86.Nine.dll" Name="Nine.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.dll" />
            <File Id="x86.Nine.xml" Name="Nine.xml" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.xml" />
            <File Id="x86.Nine.Graphics.dll" Name="Nine.Graphics.dll" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Graphics.dll" />
            <File Id="x86.Nine.Graphics.xml" Name="Nine.Graphics.xml" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Graphics.xml" />
            <File Id="x86.Nine.Navigation.dll" Name="Nine.Navigation.dll" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Navigation.dll" />
            <File Id="x86.Nine.Navigation.xml" Name="Nine.Navigation.xml" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Navigation.xml" />
            <File Id="x86.Nine.Physics.dll" Name="Nine.Physics.dll" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Physics.dll" />
            <File Id="x86.Nine.Physics.xml" Name="Nine.Physics.xml" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Physics.xml" />
            <File Id="x86.Nine.Content.Pipeline.dll" Name="Nine.Content.Pipeline.dll" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Content.Pipeline.dll" />
            <File Id="x86.Nine.Content.Pipeline.xml" Name="Nine.Content.Pipeline.xml" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Content.Pipeline.xml" />
            <File Id="x86.Nine.Content.Pipeline.Silverlight.dll" Name="Nine.Content.Pipeline.Silverlight.dll" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Content.Pipeline.Silverlight.dll" />
            <File Id="x86.Nine.Content.Pipeline.Silverlight.xml" Name="Nine.Content.Pipeline.Silverlight.xml" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Content.Pipeline.Silverlight.xml" />
            <File Id="x86.Nine.Content.Pipeline.Silverlight.ShaderCompiler.dll" Name="Nine.Content.Pipeline.Silverlight.ShaderCompiler.dll" Source="$(sys.SOURCEFILEDIR)../../References/x86/Nine.Content.Pipeline.Silverlight.ShaderCompiler.dll" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\Engine Nine v$(var.ProductVersion)" Value="[ProductDir]References\x86" Type="string"/>
          </Component>
        </Directory>

        <Directory Id="WindowsPhone" Name="Windows Phone">
          <Component Id="WindowsPhoneComponent" Guid="A44E3B61-31E4-405E-BAB6-0D165A4B6E28" DiskId="1">
            <File Id="WindowsPhone.Nine.dll" Name="Nine.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)../../References/Windows Phone/Nine.dll" />
            <File Id="WindowsPhone.Nine.xml" Name="Nine.xml" Source="$(sys.SOURCEFILEDIR)../../References/Windows Phone/Nine.xml" />
            <File Id="WindowsPhone.Nine.Graphics.dll" Name="Nine.Graphics.dll" Source="$(sys.SOURCEFILEDIR)../../References/Windows Phone/Nine.Graphics.dll" />
            <File Id="WindowsPhone.Nine.Graphics.xml" Name="Nine.Graphics.xml" Source="$(sys.SOURCEFILEDIR)../../References/Windows Phone/Nine.Graphics.xml" />
            <File Id="WindowsPhone.Nine.Physics.dll" Name="Nine.Physics.dll" Source="$(sys.SOURCEFILEDIR)../../References/Windows Phone/Nine.Physics.dll" />
            <File Id="WindowsPhone.Nine.Physics.xml" Name="Nine.Physics.xml" Source="$(sys.SOURCEFILEDIR)../../References/Windows Phone/Nine.Physics.xml" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\XNA\AssemblyFolders\v4.0\Xbox 360\AssemblyFoldersEx\Engine Nine v$(var.ProductVersion)" Value="[ProductDir]References\Xbox 360" Type="string"/>
          </Component>
        </Directory>

        <Directory Id="Xbox" Name="Xbox 360">
          <Component Id="XboxComponent" Guid="E58EB817-5C2B-415D-BB64-87470E0789E0" DiskId="1">
            <File Id="Xbox.Nine.dll" Name="Nine.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)../../References/Xbox 360/Nine.dll" />
            <File Id="Xbox.Nine.xml" Name="Nine.xml" Source="$(sys.SOURCEFILEDIR)../../References/Xbox 360/Nine.xml" />
            <File Id="Xbox.Nine.Graphics.dll" Name="Nine.Graphics.dll" Source="$(sys.SOURCEFILEDIR)../../References/Xbox 360/Nine.Graphics.dll" />
            <File Id="Xbox.Nine.Graphics.xml" Name="Nine.Graphics.xml" Source="$(sys.SOURCEFILEDIR)../../References/Xbox 360/Nine.Graphics.xml" />
            <File Id="Xbox.Nine.Physics.dll" Name="Nine.Physics.dll" Source="$(sys.SOURCEFILEDIR)../../References/Xbox 360/Nine.Physics.dll" />
            <File Id="Xbox.Nine.Physics.xml" Name="Nine.Physics.xml" Source="$(sys.SOURCEFILEDIR)../../References/Xbox 360/Nine.Physics.xml" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\XNA\AssemblyFolders\v4.0\Windows Phone\AssemblyFoldersEx\Engine Nine v$(var.ProductVersion)" Value="[ProductDir]References\Windows Phone" Type="string"/>
          </Component>
        </Directory>

        <Directory Id="Silverlight" Name="Silverlight">
          <Component Id="SilverlightComponent" Guid="31123E61-55F8-4B11-B027-088D777E1DD8" DiskId="1">
            <File Id="Silverlight.Nine.dll" Name="Nine.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)../../References/Silverlight/Nine.dll" />
            <File Id="Silverlight.Nine.xml" Name="Nine.xml" Source="$(sys.SOURCEFILEDIR)../../References/Silverlight/Nine.xml" />
            <File Id="Silverlight.Nine.Graphics.dll" Name="Nine.Graphics.dll" Source="$(sys.SOURCEFILEDIR)../../References/Silverlight/Nine.Graphics.dll" />
            <File Id="Silverlight.Nine.Graphics.xml" Name="Nine.Graphics.xml" Source="$(sys.SOURCEFILEDIR)../../References/Silverlight/Nine.Graphics.xml" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SDKs\Silverlight\v5.0\AssemblyFoldersEx\Engine Nine v$(var.ProductVersion)" Value="[ProductDir]References\Silverlight" Type="string"/>
          </Component>
        </Directory>
        
      </Directory>
    </DirectoryRef>


    <ComponentGroup Id="ReferencesComponent" >
      <ComponentRef Id="x86Component" />
      <ComponentRef Id="WindowsPhoneComponent" />
      <ComponentRef Id="XboxComponent" />
      <ComponentRef Id="SilverlightComponent" />
    </ComponentGroup>
    
  </Fragment>
</Wix>
