<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ProductDir">
            <Directory Id="dir4268DA91D53F8A48E3F86149716D52F6" Name="Samples" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SampleExecutables">
            <Component Id="cmpA3CBFCCF35CC80872500EC7671CBC212" Directory="dir4268DA91D53F8A48E3F86149716D52F6" Guid="{3DF2776F-46DA-4BAA-BF94-3E2B88EE48D6}">
                <File Id="fil329E73724E6804743E6725732188AFEB" KeyPath="yes" Source="$(var.SamplesSourceDir)\Sources.zip" />
            </Component>
            <Component Id="cmp894AAA3D8D6C1270484168A63340C2DC" Directory="dir27E1F5C1F947D661F40020828656B806" Guid="{4A60BFF6-C3BD-48FB-A68F-329C3B10BD84}">
                <File Id="fil282E0250DFA5EA4C3B914B08FBD91C70" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\CustomEffects\Content\Consolas.xnb" />
            </Component>
            <Component Id="cmpDB7418EE3B0FFC1B60AC327689A22FD4" Directory="dir488910F271A459276879351F6D9858A5" Guid="{D1BC258C-0EB6-42F2-B7A1-6D09CAEF96E3}">
                <File Id="fil064CE713F13F4FA0829903707CD619A7" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\DebuggerPrimitives\Content\Consolas.xnb" />
            </Component>
            <Component Id="cmpFC5F593FF19EFED9B5EBD0E07240C65C" Directory="dir64C4A968CD06B8B6FFCDCBB744AC1540" Guid="{69D32DE6-110F-45E1-809A-ECCC8AD66C50}">
                <File Id="filD326AC9176E44375941DE1E880217066" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\DeferredLighting\Content\box.xnb" />
            </Component>
            <Component Id="cmpA099EE641EF8042074226D8CC1BDA844" Directory="dir2003706DDEB09918E70D921A09809CC3" Guid="{D4F01925-F3A0-498C-B32E-43A1CC33F12A}">
                <File Id="fil510680E70780D7E23C9555608CBBDF6D" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\FlockingBehaviors\Content\Butterfly.xnb" />
            </Component>
            <Component Id="cmpE37EB6E3F1D74C4A29D2BBBB58661E9A" Directory="dir2003706DDEB09918E70D921A09809CC3" Guid="{09123394-E88B-472E-B2C1-34A3B717743A}">
                <File Id="filBDD3FD71C181002A472C68DEC6F16448" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\FlockingBehaviors\Content\Consolas.xnb" />
            </Component>
            <Component Id="cmp3676841336B022F0B0F115350666D6EE" Directory="dir56757C15613C5FB327285813536C87FC" Guid="{C3F41E9B-3F8F-4F2A-A273-431137989347}">
                <File Id="filAB1F55DE26CD2FECBEA9444325C949B6" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Materials\Content\box.xnb" />
            </Component>
            <Component Id="cmpC4016244BDAD167E11FE2B1BB4D8A5E3" Directory="dir6841AE0636F69282D5579ECED8C23FB9" Guid="{2EED198E-DA93-4243-A6C6-C0E3CEB8D58A}">
                <File Id="fil0ACF5EFB241086C6666AD89A0E4C417B" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\MultiPassLighting\Content\box.xnb" />
            </Component>
            <Component Id="cmp4101DF494CE47506C2E5372118DEB14A" Directory="dir6841AE0636F69282D5579ECED8C23FB9" Guid="{26EFB1E4-2AE7-4DF3-B8CB-9AE760F61B9B}">
                <File Id="fil53BB8A46F8D8CC6C356D0C2407392AC2" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\MultiPassLighting\Content\Consolas.xnb" />
            </Component>
            <Component Id="cmp3B5D29F3E670DECCBB564BDB6FD8B437" Directory="dir6841AE0636F69282D5579ECED8C23FB9" Guid="{058C6C5E-6C7C-4A0E-AA7D-9042A328CC88}">
                <File Id="fil6349630D814FBCF73F7A3C87A9C773B0" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\MultiPassLighting\Content\dude.xnb" />
            </Component>
            <Component Id="cmpDC9128187B31E87DDCF905D5BB22AE92" Directory="dir6841AE0636F69282D5579ECED8C23FB9" Guid="{3C09EB83-F511-4675-BD91-478B559E0CF6}">
                <File Id="fil1C83E08C5ABA2DBA326A40FB537F9485" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\MultiPassLighting\Content\head_0.xnb" />
            </Component>
            <Component Id="cmpEFF4E2B18A83F741F9BCC4C7756D711B" Directory="dir6841AE0636F69282D5579ECED8C23FB9" Guid="{4C851C84-3787-4A40-BFC5-3B8E7A6C476A}">
                <File Id="filA5506043C3448B48D50563C162FE76D7" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\MultiPassLighting\Content\jacket_0.xnb" />
            </Component>
            <Component Id="cmp017C546051D317ED72A0A18015B4BB9D" Directory="dir6841AE0636F69282D5579ECED8C23FB9" Guid="{0EA3A9F6-5617-4A17-B8F0-13EBCFD8F157}">
                <File Id="fil8AC3A371EB639A3D2AC8812B2DA07E37" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\MultiPassLighting\Content\pants_0.xnb" />
            </Component>
            <Component Id="cmp1BBF7699A5FCBA0CA5FF0B1F6952A4BF" Directory="dir6841AE0636F69282D5579ECED8C23FB9" Guid="{CFDCCA89-A20B-4173-9F82-4C7AB864FE29}">
                <File Id="fil52AC4E902E2ABC99284EF6280EBF5312" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\MultiPassLighting\Content\upBodyC_0.xnb" />
            </Component>
            <Component Id="cmp1246BFED5B333D5FDD39FD6F2176F280" Directory="dirE20C50D45C4D2ACD23A66771CF1E9C09" Guid="{19C0FC1A-1A86-4845-8A0E-1BEBB047E64F}">
                <File Id="filB02CD6646F8561542F7392740BBC82E1" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Navigation\Content\checker.xnb" />
            </Component>
            <Component Id="cmp6FED00DC78985934A66358977E6BDBB5" Directory="dirE20C50D45C4D2ACD23A66771CF1E9C09" Guid="{948F9065-A324-4D11-A2FB-1F6ECAD24F78}">
                <File Id="filA0CA25154721A2D1A8198077EE623A46" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Navigation\Content\Consolas.xnb" />
            </Component>
            <Component Id="cmp1766531169B4F2F4E8C6876EE376569E" Directory="dirE20C50D45C4D2ACD23A66771CF1E9C09" Guid="{3C6E47CA-F154-47C9-9518-467267572C51}">
                <File Id="filB00BBBEAD14A384DD47BADD0545C86A6" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Navigation\Content\MountainHeightmap.xnb" />
            </Component>
            <Component Id="cmp648BA843971AE5640B92FCB7D08078A0" Directory="dirE20C50D45C4D2ACD23A66771CF1E9C09" Guid="{3B71B96F-4FAE-42D1-98B2-71AB6AF502E0}">
                <File Id="fil2423EC18092653E684CF1BEEB5462F59" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Navigation\Content\Peon.xnb" />
            </Component>
            <Component Id="cmpC23D37BBDCF4F78BCCA6780865BA96A5" Directory="dirE20C50D45C4D2ACD23A66771CF1E9C09" Guid="{0652BAC1-C70B-4862-9652-CCE9279F8F15}">
                <File Id="fil2BC9403B85E73F7852DF3BF940987912" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Navigation\Content\tietu_nongmin_0.xnb" />
            </Component>
            <Component Id="cmpCF1DFA607CE37D81913FBF407336B3B0" Directory="dir1C58C5001E268BA53504E599B754F600" Guid="{7ECFA931-EFDC-4691-BA1E-359894862502}">
                <File Id="filA8B2832E62C5F66FD6FE0A55816EA21C" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Navigators\Content\Consolas.xnb" />
            </Component>
            <Component Id="cmp3CA8B7E937C19D49FDAF4314FC942A30" Directory="dir1C58C5001E268BA53504E599B754F600" Guid="{C40D7CC2-674D-4AD7-A720-B1068F718E67}">
                <File Id="fil7B017F5EDE81B9DDB58ACF58D9059BFC" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Navigators\Content\tietu_nongmin_0.xnb" />
            </Component>
            <Component Id="cmpAD708BB32BE91666E5CAEC8C869C9DAB" Directory="dir00E80DD4E750ED9875F9DBE0CC5ECB33" Guid="{06FFD72B-F048-4CC0-88BE-5CA32C3672C1}">
                <File Id="filB525E4CA7CF820ACAD7DFD2BC2DE61F8" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Navigators\Content\Models\Peon.xnb" />
            </Component>
            <Component Id="cmpAE340F7534CE6A562B8A0CAE5EAB9AE0" Directory="dir0BFD7D583B13C8ACAE503A0B39AB7206" Guid="{AC770A83-98C7-4427-8C9B-243B94E7ADC6}">
                <File Id="fil12B7A678FBAAA4B268662612B992F29F" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Navigators\Content\Terrain\Mountain.xnb" />
            </Component>
            <Component Id="cmp754F8C236B46D08E09CB25C7386C9289" Directory="dir0BFD7D583B13C8ACAE503A0B39AB7206" Guid="{0DB72416-C40D-44CE-980C-01E744B0B749}">
                <File Id="fil7C4731CE906A8D1FC2069C3A41D3DB74" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Navigators\Content\Terrain\MountainHeightmap.xnb" />
            </Component>
            <Component Id="cmpE43C2024086273D81D0851D5478AC2A6" Directory="dir326DCD4CFE561A10D24EFB25538FDAC8" Guid="{E113F51B-3A9E-46BD-AA32-E258DA010640}">
                <File Id="fil82F572BE0CB32A7EE121A28232575CFF" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\PathFinding\Content\Consolas.xnb" />
            </Component>
            <Component Id="cmp8BA6FD44918AA348B9C1282A03500B35" Directory="dir70F1C0EF94FC640680819E7742EB9CD1" Guid="{8CBAB185-3DF7-4008-A2BC-FF45370CEC0B}">
                <File Id="fil0557B6E5298A8D8697428DFE660C528F" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\ScreenEffects\Content\Consolas.xnb" />
            </Component>
            <Component Id="cmpF1C7569594FDDE5B2E3F0C4E8065443E" Directory="dir70F1C0EF94FC640680819E7742EB9CD1" Guid="{7D1A36E1-793F-40EB-8B15-B7A078968C22}">
                <File Id="filDEE6BCE2E1FCD54B9AE71DA83DB496E4" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\ScreenEffects\Content\dude.xnb" />
            </Component>
            <Component Id="cmpCB7C598A51B87D97DF276B2F6A89236F" Directory="dir70F1C0EF94FC640680819E7742EB9CD1" Guid="{85E89CC2-9746-405F-AB76-250326F85596}">
                <File Id="filDBBA828761E9F1A9A1B115FEC31AD98C" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\ScreenEffects\Content\glacier.xnb" />
            </Component>
            <Component Id="cmp85CA5AF491AF6CE61CC51949CFB76DC7" Directory="dir70F1C0EF94FC640680819E7742EB9CD1" Guid="{4E1FD89A-BB4C-4CFB-8BF4-4A49166A228B}">
                <File Id="filEB2E6FF297AF9303E8755DD28E876A62" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\ScreenEffects\Content\head_0.xnb" />
            </Component>
            <Component Id="cmp1DEB652CEEC6A9357B6F518D019B8300" Directory="dir70F1C0EF94FC640680819E7742EB9CD1" Guid="{7409907C-CA2F-4150-9BD1-A84AD46F6DEE}">
                <File Id="fil383916FA063847E2A432AEFAA76615C2" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\ScreenEffects\Content\jacket_0.xnb" />
            </Component>
            <Component Id="cmp733B98DF83A5783A2FA4042700E569F3" Directory="dir70F1C0EF94FC640680819E7742EB9CD1" Guid="{96658006-4748-4990-813A-9FC6C8734DE5}">
                <File Id="fil1F46DF985CA4EEBFB5F8721A73407269" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\ScreenEffects\Content\pants_0.xnb" />
            </Component>
            <Component Id="cmp1CE7EF0770E3752DF9A9785B498D7310" Directory="dir70F1C0EF94FC640680819E7742EB9CD1" Guid="{3D8323D6-0466-4AAD-BA59-8F0C1CEE82E4}">
                <File Id="fil5FC047B46E17E9C3E89F5AB55A290313" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\ScreenEffects\Content\upBodyC_0.xnb" />
            </Component>
            <Component Id="cmp09FA49A2D868E44F2A359EAC1C949B5B" Directory="dir276427A0533764A434C11BE1F2B8120C" Guid="{BC450BFA-69CE-423E-AB36-98EE22ED1BE6}">
                <File Id="fil5109F024A4F76E7FD20AA665E6515CAB" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Terrain\Content\checker.xnb" />
            </Component>
            <Component Id="cmp6C079A28E6B648EA8D766101AFE154E4" Directory="dir2D55A7260CF9644D5C496D10661D6EDC" Guid="{ABB253A3-8171-4A03-A5C2-F9835C6F0F90}">
                <File Id="fil43CA1904AB161E9259D86B5D6096E594" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Transitions\Content\checker.xnb" />
            </Component>
            <Component Id="cmp8090DE7134194918F4E7B1005F0C2D30" Directory="dir2D55A7260CF9644D5C496D10661D6EDC" Guid="{AD27147A-0738-4A6C-B353-650218CAD708}">
                <File Id="fil507C28004722A23B79D76611960C6A34" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Transitions\Content\Consolas.xnb" />
            </Component>
            <Component Id="cmpB43A06768927EBCD48F8F94465EC5703" Directory="dir2D55A7260CF9644D5C496D10661D6EDC" Guid="{7E9CDCD4-2E5C-4929-B4E1-8113E2559DD4}">
                <File Id="filD9E5D19CFFF0758F1E59A126DC7FBD76" KeyPath="yes" Source="$(var.SamplesSourceDir)\x86\Transitions\Content\glacier.xnb" />
            </Component>
            <Component Id="cmp6D7540193ADA164BFE40C592319A1729" Directory="dir75603D1BA9EA0694CCA4D82174B51C73" Guid="{3CE87EAE-2F33-4BF2-94C8-562B183320FC}">
                <File Id="fil2F4736AC04E447B360ABDE706BEB70B6" KeyPath="yes" Source="$(var.SamplesSourceDir)\Xbox 360\MultiPassLighting.ccgame" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir276427A0533764A434C11BE1F2B8120C" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirE20C50D45C4D2ACD23A66771CF1E9C09" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir56757C15613C5FB327285813536C87FC" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir2D55A7260CF9644D5C496D10661D6EDC" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir75603D1BA9EA0694CCA4D82174B51C73" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir27E1F5C1F947D661F40020828656B806" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir70F1C0EF94FC640680819E7742EB9CD1" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir2003706DDEB09918E70D921A09809CC3" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4268DA91D53F8A48E3F86149716D52F6" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir00E80DD4E750ED9875F9DBE0CC5ECB33" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir0BFD7D583B13C8ACAE503A0B39AB7206" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6841AE0636F69282D5579ECED8C23FB9" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1C58C5001E268BA53504E599B754F600" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir488910F271A459276879351F6D9858A5" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir326DCD4CFE561A10D24EFB25538FDAC8" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir64C4A968CD06B8B6FFCDCBB744AC1540" />
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1C58C5001E268BA53504E599B754F600">
            <Directory Id="dir00E80DD4E750ED9875F9DBE0CC5ECB33" Name="Models" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dir054A3C8085B8AAD442F5EDF93E7E30A9" Name="DebuggerPrimitives" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1C58C5001E268BA53504E599B754F600">
            <Directory Id="dir0BFD7D583B13C8ACAE503A0B39AB7206" Name="Terrain" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dir0E65453812064621169D3E34881255CA" Name="MultiPassLighting" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dir13D943D1F5DA26E7E8095CFAAB811567" Name="Transitions" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9A5CF47F4907F49930FB18DDB651F54C">
            <Directory Id="dir1C58C5001E268BA53504E599B754F600" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dir1FC54C51856E295642D0143DCEE1EDAB" Name="ScreenEffects" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirCFDF51B0FE0B1907B7AE8725451B6144">
            <Directory Id="dir2003706DDEB09918E70D921A09809CC3" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir72E6DE313204BCD415326E37B0B1D975">
            <Directory Id="dir276427A0533764A434C11BE1F2B8120C" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir2912870AC82EC86A2E852959FB0B714E">
            <Directory Id="dir27E1F5C1F947D661F40020828656B806" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dir2912870AC82EC86A2E852959FB0B714E" Name="CustomEffects" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir13D943D1F5DA26E7E8095CFAAB811567">
            <Directory Id="dir2D55A7260CF9644D5C496D10661D6EDC" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirD5585092E41EBA92AA68AAC1C95BE69B">
            <Directory Id="dir326DCD4CFE561A10D24EFB25538FDAC8" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir054A3C8085B8AAD442F5EDF93E7E30A9">
            <Directory Id="dir488910F271A459276879351F6D9858A5" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirD5AEF2C5631E1B21B5B15D674E68156D">
            <Directory Id="dir56757C15613C5FB327285813536C87FC" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4268DA91D53F8A48E3F86149716D52F6">
            <Directory Id="dir58EA29734D665F57AE3B1CD202646B84" Name="x86" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC4578FBADE7675F22E725A666BBAF968">
            <Directory Id="dir64C4A968CD06B8B6FFCDCBB744AC1540" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir0E65453812064621169D3E34881255CA">
            <Directory Id="dir6841AE0636F69282D5579ECED8C23FB9" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1FC54C51856E295642D0143DCEE1EDAB">
            <Directory Id="dir70F1C0EF94FC640680819E7742EB9CD1" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dir72E6DE313204BCD415326E37B0B1D975" Name="Terrain" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4268DA91D53F8A48E3F86149716D52F6">
            <Directory Id="dir75603D1BA9EA0694CCA4D82174B51C73" Name="Xbox 360" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dir9A5CF47F4907F49930FB18DDB651F54C" Name="Navigators" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dirC4578FBADE7675F22E725A666BBAF968" Name="DeferredLighting" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dirCFDF51B0FE0B1907B7AE8725451B6144" Name="FlockingBehaviors" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dirD5585092E41EBA92AA68AAC1C95BE69B" Name="PathFinding" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dirD5AEF2C5631E1B21B5B15D674E68156D" Name="Materials" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirEF9F77FEFFCD5251D068ECC7B3E78EB1">
            <Directory Id="dirE20C50D45C4D2ACD23A66771CF1E9C09" Name="Content" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir58EA29734D665F57AE3B1CD202646B84">
            <Directory Id="dirEF9F77FEFFCD5251D068ECC7B3E78EB1" Name="Navigation" />
        </DirectoryRef>
    </Fragment>
</Wix>