<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="System.Windows.Data" switchValue="All">
        <listeners>
          <add name="BindingLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="Binding.log"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
